name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 12 * * 5'

jobs:
  tests:
    name: "RSpec / Ruby ${{ matrix.ruby-version }}"
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.ruby-version == 'head' }}
    strategy:
      fail-fast: false
      matrix:
        ruby-version: 
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "head"
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@v4

        # https://bundler.io/blog/2018/01/17/making-gem-development-a-little-better.html
      - run: rm Gemfile.lock

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          rubygems: 3.4.22 # last version to support Ruby 2.7
          bundler: latest
          bundler-cache: true

      - run: bundle exec rake spec

  bundler-user-journey:
    name: "Bundler / OS ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3"
          bundler: latest
      
      - run: spec/integration/bundler_user_journey.sh
        shell: bash

  npm-user-journey:
    name: "NPM / OS ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    continue-on-error: ${{ matrix.os == 'windows' }} # odiff-bin npm package on windows having issues
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3"
          bundler: latest

      - uses: actions/setup-node@v5
        with:
          node-version: 20

      - run: spec/integration/npm_user_journey.sh
        shell: bash